body {
    width: 960px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #009223; /* Dark green background */
    padding: 20px 0;
    margin-bottom: 50px;
    text-align: center;
}

.sb-logo {
    width: 170px; /* Adjust based on actual logo size */
}

.status-bar-section {
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status-bar {
    width: 80%;
    height: auto;
    padding: 20px 0;
}

.order-details {
    font-size: 40px;
    color: #3d3d3d;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: bold;
}

.order-title {
    align-items: center;
    width: 90%;
    text-align: left;
}

.menu-line {
    height: 4px;
    width: 100%;
    background-color: #009223;
    margin-bottom: 20px;
    margin-top: 80px;
}

.window {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sandwich-details {
    display: flex;
    flex-direction: row;
}


.menu-name {
    font-weight: bold;
    color: #333;
    line-height: 2;
    margin-bottom: 10px;
    margin-left: 20px;
}

.window_order_list {
    color: #666;
    text-align: left;
    line-height: 2.1;
    margin-left: 50px;
}


.w_name {
    font-size: 26px;
    font-weight: bolder;
    color: #00771c;
}

.w_order {
    font-size: 25px;
    font-weight: bolder;
    margin-left: 15px;
}

.menu-line-bottom {
    height: 5px;
    width: 100%;
    background-color: #009223;
    margin-bottom: 20px;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 20px 10%;
}

.navigation-buttons button {
    background-color: #009223;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
    margin-top:150px;
}


.payment-bar {
    display: flex;
    width: 100%;
    height: 120px;
    margin-top: 40px;
}

.price-section {
    flex: 2;
    background-color: #666;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 80px;
    font-size: 28px;
    font-weight: normal; /* 기본 글씨 굵기 */
}

.price-amount {
    font-size: 40px; /* 크기를 더 크게 */
    font-weight: bold; /* 글씨를 더 굵게 */
}

.currency {
    font-size: 20px; /* 작은 글씨 크기 */
    padding-left: 5px; /* 숫자와 '원' 사이의 간격 */
    font-weight: normal;
}


a {
    text-decoration: none;
    color: white;
}

.order-section {
    flex: 1;
    background-color: #FBC313;
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    cursor: pointer;
}


.cart-icon {
    width: 30px; /* 아이콘 크기 조정 */
    height: auto;
    margin-right: 10px; /* 아이콘과 텍스트 사이 간격 */
}