body {
  width: 960px;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
  color: white;
}

header {
  background-color: #009223; /* Dark green background */
  padding: 20px 0;
  margin-bottom: 50px;
  text-align: center;
}

.sb-logo {
  width: 170px; /* Adjust based on actual logo size */
}

main {
  display: flex;
  flex-direction: row;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4%;
}

aside button {
  display: flex;
  align-items: center;
  width: 104px;
  height: 104px;
  background-color: white;
  border: 0px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  padding: 0%;
  margin-top: 30%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

aside img {
  display: flex;
  align-items: center;
  width: 104px;
  height: auto;
}

aside p {
  color: black;
  font-size: 17px;
  text-align: center;
  font-weight: bolder;
  margin-top: 4px;
}

section {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 20px;
  max-width: 960px;
  margin: 0 auto;
}

.container {
  margin: 15px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 300px;
  height: 300px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.item img {
  width: 100%;
  display: block;
}

.container p {
  font-size: 23px;
  text-align: center;
  padding: 10px 0;
  margin: 0;
}

.navigation-buttons {
  display: flex;
  justify-content: flex-end; /* 가로로 버튼 분포 */
  align-items: center; /* 버튼을 세로로 중앙 정렬 */
  padding: 20px 10%; /* 패딩 조정 */
}

.navigation-buttons button {
    background-color: #009223;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
}

/*장바구니 구현*/
#order_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #e0e0e0;
    text-align: center;
    width: 100%;
    padding-top: 30px; 
    padding-bottom: 30px; 
}


.cart {
    display: flex;
    flex-direction: row;
    padding-top: 15px; 
    padding-bottom: 15px; 
    margin-left: 10px;
}

.footer-square {
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: #009223; 
    color: white;
    height: 45px; 
    width: 125px;
    font-size: 20px;
    border-radius: 10px; 
}

.selected-name {
  display: flex;
  align-items: center; 
  justify-content: center;
  font-size: 23px;
  margin-left: 30px;
}

/*kiosk*/
.kiosk-simulation {
  display:flex;
  justify-content: center;
  margin: 0;
}

.kiosk-background { /*검정 기계 배경*/
  width: 1000px;
  background-color: black;
  border-radius: 15px;
  margin-top: 1vh;
}

.mainpage {
  background-color: #ffffff;
  margin: 40px;
}

#screen_bottom {
  display: flex;
  flex-direction: row;
  margin-bottom: 150px;
}

#barcode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 50%;
  height: 100%;
  color: white;
  font-size: 25px;
  margin-right: 20px;
}
#barcode_img{
  width: 120px;
  height: 48px;
  margin-bottom: 10px;
  background: url(../static/barcode_img.png) no-repeat center / cover;

}
#barcode_png {
  margin-top: 4%;
  width: 195px;
  height: 118px;
  background: url(../static/barcode.png) no-repeat center / cover;
}
#insert_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
  width: 50%;
  height: 25%;
  color: #f5f5f5;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}
#insert_card_block {
  margin-top: 5%;
  width: 40%;
  height: 8%;
  border: solid #f5f5f5;
  border-radius: 35%;
  border-width: 3px;
}
#use_card_block {
  display: flex;
  margin-top: 5%;
  margin-bottom: 1%;
  align-items: center;
  text-align: center;
  width: 60%;
  height: 10%;
  background: #424242;
}
#receipt {
  margin-top: 5%;
  display: flex;
  width: 100%;
  height: 20%;
  align-items: center;
  margin-left: 180px;
}
#receipt_exit{
  width: 50%;
  height: 20%;
  border: solid #f5f5f5;
  border-radius: 35%;
  border-width: 3px;
}
#receipt_img {
  width: 50px;
  height: 50px;
  background: url(../static/receipt.png)no-repeat center / cover;
  margin-left: 10px;
}