body {
  width: 100%; /* 전체 브라우저 너비 사용 */
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center; /* body 내에서 중앙 정렬 */
  margin: 0; /* 바깥쪽 여백 제거 */
  background-color: #f4f4f4;
}


header {
    background-color: #009223; /* Dark green background */
    padding: 20px 0;
    margin-bottom: 50px;
    text-align: center;
}

.sb-logo {
    width: 170px; /* Adjust based on actual logo size */
}

.status-bar-section {
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status-bar {
    margin-top: 40px;
    width: 80%;
    height: auto;
}

.order-details {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.order-title {
    align-self: flex-start;
    width: 100%;
    text-align: left;
}

.menu-name {
    font-size: 26px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    margin-top: 100px;
}

.menu-line {
    height: 4px;
    width: 100%;
    background-color: #009223;
    margin-bottom: 20px;
}

.sandwich-details {
    font-size: 20px;
    color: #666;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    line-height: 1.6;
}

.menu-line-bottom {
    height: 2px;
    width: 100%;
    background-color: #009223;
    margin-bottom: 50px; /* 줄어든 간격으로 인해 간격 조정 */
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 10%;
}

.navigation-buttons button {
    background-color: #009223;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
    margin-top:150px;
}

/*kiosk*/
.kiosk-simulation {
    display:flex;
    justify-content: center;
    margin: 0;
  }
  
  .kiosk-background { /*검정 기계 배경*/
    width: 1000px;
    background-color: black;
    border-radius: 15px;
    margin-top: 1vh;
  }
  
  .mainpage {
    background-color: #ffffff;
    margin: 40px;
  }
  
  #screen_bottom {
    display: flex;
    flex-direction: row;
    margin-bottom: 150px;
  }
  
  #barcode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 50%;
    height: 100%;
    color: white;
    font-size: 25px;
    margin-right: 20px;
  }
  #barcode_img{
    width: 120px;
    height: 48px;
    margin-bottom: 10px;
    background: url(../static/barcode_img.png) no-repeat center / cover;
  
  }
  #barcode_png {
    margin-top: 4%;
    width: 195px;
    height: 118px;
    background: url(../static/barcode.png) no-repeat center / cover;
  }
  #insert_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    width: 50%;
    height: 25%;
    color: #f5f5f5;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
  }
  #insert_card_block {
    margin-top: 5%;
    width: 40%;
    height: 8%;
    border: solid #f5f5f5;
    border-radius: 35%;
    border-width: 3px;
  }
  #use_card_block {
    display: flex;
    margin-top: 5%;
    margin-bottom: 1%;
    align-items: center;
    text-align: center;
    width: 60%;
    height: 10%;
    background: #424242;
  }
  #receipt {
    margin-top: 5%;
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center;
    margin-left: 180px;
  }
  #receipt_exit{
    width: 50%;
    height: 20%;
    border: solid #f5f5f5;
    border-radius: 35%;
    border-width: 3px;
  }
  #receipt_img {
    width: 50px;
    height: 50px;
    background: url(../static/receipt.png)no-repeat center / cover;
    margin-left: 10px;
  }